name: Checks

on:
  pull_request:

  jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            targets: ${{ matrix.target }}

        - name: Run tests
          uses: actions-rs/cargo@v1
          with:
            command: test
            args: --all --verbose
